{%- set_global rp_pages = [] -%}
{%- if config.extra.content_sections -%}
  {%- for section_name in config.extra.content_sections -%}
    {%- set sec = get_section(path=section_name ~ "/_index.md") -%}
    {%- set_global rp_pages = rp_pages | concat(with=sec.pages) -%}
  {%- endfor -%}
{%- else -%}
  {%- set root = get_section(path="_index.md") -%}
  {%- for subsection_path in root.subsections -%}
    {%- set sec = get_section(path=subsection_path) -%}
    {%- set_global rp_pages = rp_pages | concat(with=sec.pages) -%}
  {%- endfor -%}
{%- endif -%}
{% set pages = rp_pages %}
{% include "partials/widgets/list/recent.html" %}
