{#
  Root skeleton. list, widgets and navigation are imported here for every
  template; blocks is not, since its recursive `toc` needs a local import.
#}
{% import "macros/list.html" as list %}
{% import "macros/widgets.html" as widgets %}
{% import "macros/navigation.html" as navigation %}
<!DOCTYPE html>
<html lang="{{ config.default_language | default(value="en") }}" dir="{{ config.extra.language_direction | default(value="ltr") }}">
<head>
  <title>{% block title %}{{ config.title | default(value="Site") }}{% endblock title %}</title>
  {%- include "partials/head.html" %}
</head>
<body>
  <a class="skip-link" href="#content">Skip to content</a>
  {%- include "partials/header.html" %}
  <main id="content">
    {%- block content %}{% endblock content %}
  </main>
  {%- include "partials/footer.html" %}
  {%- if config.extra.enable_search %}
  {%- include "partials/search.html" %}
  {%- endif %}
  {#- Page scripts load only when the content needs them. -#}
  {%- set render_body = "" %}
  {%- if page is defined %}{% set render_body = page.content %}
  {%- elif section is defined %}{% set render_body = section.content %}{% endif %}
  {%- set needs_mermaid = config.extra.enable_mermaid and render_body is containing('class="mermaid"') %}
  {%- set needs_math = config.extra.enable_math and render_body is containing('class="math-') %}
  {%- if needs_mermaid or needs_math %}
  {%- include "partials/render.html" %}
  {%- endif %}
  {%- if render_body is containing('class="tabs" data-group=') %}
  {%- include "partials/tabs.html" %}
  {%- endif %}
  {%- if render_body is containing('type="checkbox"') %}
  {%- include "partials/tasklist.html" %}
  {%- endif %}
</body>
</html>
