{%- for font in config.extra.fonts | default(value=[]) %}
{%- set font_dir = font.name | replace(from=" ", to="_") %}
<link rel="stylesheet" href="{{ get_url(path="fonts/" ~ font.source ~ "/" ~ font_dir ~ "/" ~ font_dir ~ ".css") }}">
{%- endfor %}
<link rel="stylesheet" href="{{ get_url(path="main.css") }}">
<link id="giallo-light" rel="stylesheet" href="{{ get_url(path="giallo-light.css") }}" media="(prefers-color-scheme: light)">
<link id="giallo-dark" rel="stylesheet" href="{{ get_url(path="giallo-dark.css") }}" media="(prefers-color-scheme: dark)">
